PUPPETEER_SKIP_DOWNLOAD=true
# INTERNAL NPM REGISTRY
registry=https://sofa.dns20.socgen/nexus/repository/npm-public/
strict-ssl=false
# Node SASS binary configuration parameters for windows environment
# see https://github.com/sass/node-sass#binary-configuration-parameters
sass_binary_site=http://ez-cdn.fr.world.socgen/node-sass
